{% extends 'base.html' %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class='col sm12 m10 offset-m1 l8 offset-l2'>
			<h2>About the Vanished</h2>
			
			<p>Our coverage of murdered and missing Indigenous people – The Vanished – is part of the <a href='https://www.yakimaherald.com/news/local/journalism-initiative-will-look-at-health-care-missing-indigenous-people-gangs-and-kids-in-the/article_921d7399-3b75-5d8f-8564-2931cc94a31f.html'>Protecting and Promoting Local Journalism Initiative</a>, which is supported by the Yakima Valley Community Foundation with financial, training and technological assistance from Microsoft Corp.</p>
			<p>In Yakima County, the initiative is a collaboration between the Yakima Herald-Republic, El Sol de Yakima and Radio KDNA, whose journalists maintain independent editorial control of the project. </p>
			<p>To make a charitable contribution to the Yakima Valley Community Foundation's Community Journalism Fund, visit the foundation's website and select the “Give Today” button. On the sidebar, click on “Find Opportunities.” Enter “journalism” in the word search and the fund will pop up. Donors can also send checks and stocks directly to the Yakima Valley Community Foundation.</p>

		</div>
	</div>
</div>

{% endblock %}
