{% extends 'base.html' %}

{% block main_content %}

<style>
li {margin-bottom: 10px;}
ul.resources a {color: #b71c1c;}
</style>

<div class="container">
	<div class="row">
		<div class="col s12">
			<h2>If a loved one goes missing</h2>
			<p>You don’t have to wait 24 hours, 48 hours, or any time at all to contact police and report someone missing. As soon as you think something may be wrong, or become aware of suspicious circumstances, you should report the person is missing. Getting the information out quickly can make a big difference.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m6 l5">

			<h2>Who to call</h2>
			<ul class="resources">
				<li><strong>Yakama Nation Police Department:</strong> 509-865-2933</li>
				<li><strong>Yakima County Sheriff’s Office:</strong> 509-574-2500</li>
				<li><strong>Washington State Patrol Missing and Unidentified Persons Unit:</strong> There’s a toll-free, 24-hour number to report missing persons. If you have reported a missing child and need assistance in locating the child, call 1-800-543-5678 or email MUPU@wsp.wa.gov. Note that local law enforcement must be notified before MUPU can become involved.</li>
				<li><strong>Washington State Patrol tribal liaisons:</strong> Dawn Pullin (Eastern and Central Washington): 360-890-0150; Patti Gosch, 360-280-0567 (Western Washington).</li>
				<li><strong>FBI Seattle Field Office:</strong> 206-622-0460; Yakima office number is 509-453-4859</li>
				<li><strong>Yakama Nation Behavioral Health Services:</strong> 509-865-2266</li>
				<li><strong>Rape Abuse Incest National Network:</strong> 1-800-656-4673 (HOPE)</li>
				<li><strong>National Domestic Violence Hotline:</strong> 1-800-799-7233 (SAFE)</li>
				<li><strong>Strong Hearts Native Helpline:</strong> 1-844-762-8483</li>
			</ul>
		</div>
		<div class="col s12 m6 l5 offset-l2">


			<h2>Online resources</h2>
				<ul class="resources">
					<li><a href="http://missingkids.com/home">National Center for Missing and Exploited Children</a></li>
					<li><a href="http://namus.gov/">National Missing and Unidentified Persons System</a></li>
					<li><a href="http://niwrc.org/">National Indigenous Women’s Resource Center</a></li>
					<li><a href="https://www.wsp.wa.gov/crime/alerts-missing-persons/missing-indigenous-persons/">Washington State Patrol Missing Indigenous Persons</a></li>
					<li><a href="http://csvanw.org/">Coalition to Stop Violence Against Native Women</a></li>
					<li><a href="https://mmiwusa.org/">Missing and Murdered Indigenous Women USA</a></li>
					<li><a href="https://www.facebook.com/LostandMissinginIndianCountry/">Lost and Missing in Indian Country</a></li>
					<li><a href="https://www.facebook.com/groups/1460386907618942/">Yakima Scan Missing Persons</a></li>
					<li><a href="http://rainn.org/">Rape Abuse Incest National Network</a></li>
					<li><a href="http://ndvh.org/">National Domestic Violence Hotline</a></li>
					<li><a href="http://strongheartshelpline.org/">Strong Hearts Native Helpline</a></li>
					<li><a href="https://mtcf.org/grants/apply-for-a-grant/snowbird-fund">Snowbird Fund (for Montana families of Missing and Murdered Indigenous People)</a></li>
	
				</ul>

			</div>
		</div>
		

</div>

{% endblock %}
