{% extends "base.html" %}

{% block main_content %}
        <div class="container">
            <div class="row">
                <div class="col s12 col l8 offset-l2">
                    <div class="card-panel">
                        {% if victim %}
                            <h6>{{ victim.classification }}</h6>
                            <h1 class="victim_name">{{ victim.first_name }} {% if victim.middle_name %}{{ victim.middle_name }}{% endif %} {{ victim.last_name }}</h1>

                            {%  if victim.photo %}
                                <img class="responsive-img" src="{{ victim.photo.url }}"/>
                            {% endif %}

                            <div class="row missing">
                                {% if victim.missing_since %}
                                <div class="col s6">
                                    <p>Missing Since:<br/> {{ victim.missing_since }}</p>
                                </div>
                                {% endif %}
                                {% if victim.missing_from %}
                                <div class="col s6">
                                    <p>Missing From:<br/> {{ victim.missing_from }}</p>
                                </div>
                                {% endif %}
                            </div>

                            {% if victim.narrative %}
                                <h5>Narrative</h5>
                                <p>{{ victim.narrative }}</p>
                            {% endif %}

                            {% if victim.description %}<div class="divider"></div>
                                <h5>Description</h5>
                                <p>{{ victim.description }}</p>
                            {%  endif %}

                            {% if victim.enrolled == "True" %}
                                <p>Member of {{ victim.tribe }}</p>
                            {% endif %}

                            {% if victim.agency %}<div class="divider"></div>
                                <h5>Responsible Agency</h5>
                                <p>{{ victim.agency }}</p>
                            {% endif %}

                        {% endif %}



                    </div>


                </div>
            </div>
        {% if articles %}
        <div class="row">
                <div class="col s12 col l8 offset-l2">
                    <div class="card-panel">
                    <h5>Related Stories</h5>
                        <ul>
                        {%  for article in articles %}
                            <li><a href="{{ article.url }}">{{ article.hed }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>


            </div>
        </div>
        {% endif %}
    </div>
{% if markers %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet">

    <style>
        body { margin:0; padding:0; }
        #map {width:100%; height: 480px; }
         .mapboxgl-popup {
            max-width: 10rem;
            font: 10px/16px 'Helvetica Neue', Arial, sans-serif;
         }
    </style>

    <div id="map" class="mapboxgl-js"></div>

    <script>

    let bounds = [[-124.438, 45.375][-116.563, 49.24]];
    let map;
    map = new mapboxgl.Map({
        container: 'map',
        style: 'https://aidianholder.com/mapserver/osm-liberty.json',
        center: ["{{ markers.0.lon }}", "{{ markers.0.lat }}"],
        zoom: 7

    });

    map.on('load', function () {
        {% for marker in markers %}
            let popup{{ forloop.counter }} = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: false
            })
                .setLngLat([{{ marker.lon }}, {{ marker.lat }}])
                .setHTML("{{ marker.loc_description }}")

            let marker{{ forloop.counter }} = new mapboxgl.Marker()
                .setLngLat([{{ marker.lon }}, {{ marker.lat }}])
                .addTo(map);
        {% endfor %}

        map.ScrollZoom.disable();
        map.addControl(new mapboxgl.NavigationControl());
    })

</script>
{% endif %}
{% endblock %}