{% extends "base.html" %}

{% block main_content %}
{% if mmiw %}
    <div class="container">
        <div class="row">

            {% for victim in mmiw %}

                <div class="col s10 offset-s1 m8 offset-m2 l6">
                     <div class="card horizontal victim">

                                   <div class="item">
                                        <h6>{{ victim.classification }}</h6>
                                        <a href="{% url 'detail' victim.id %}"><h2 class="victim_list">{{ victim.first_name }} {{ victim.last_name }}</h2></a>

                                     {% if victim.missing_since %}
                                            <div>
                                                <div>
                                                    <h6 class="vanished_date">Vanished: {{ victim.missing_since }}</h6>
                                                </div>

                                            </div>
                                     {% endif %}
                                   </div>
                                    {% if victim.photo %}
                                    <div class="item">
                                        <img class="responsive-img thumb z-depth-2" src="{{ victim.photo.url }}"/>
                                    </div>
                                    {% endif %}
                     </div>
                </div>
        {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}